*.pyc
Docs/Images/Merging/CRVD_merge_result/*
Docs/Images/Merging/DCT_Spatial_Distance/*
Docs/Images/Merging/DCT_Spatial_Distance_downsample/*
Docs/Images/Merging/DRV_merge_result/*png
*.log
*.aux
*.bbl
*.blg
*.out
