include bm4d/bm4d_ctypes.py
include bm4d/__init__.py
include bm4d/libbm4d.so
include bm4d/libbm4d_mac.so
include bm4d/libbm4d_win.so
include bm4d/param_matching_data.mat
include bm4d/profiles.py
include examples/bm3d_demo_complex.py
include examples/bm4d_demo.py
include examples/bm4d_demo_multichannel.py
include examples/bm4d_demo_sharpening.py
include examples/brain_slices.mat
include examples/experiment_funcs.py
include changelog.txt
include LICENSE
